#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tarjeta{
  width: 550px;
  height: 300px;
  border: 2px solid blueviolet;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}